html {
    background-image: url(imgs/backgrounds/bedroom_morning_background\ fixed.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 50% ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.Sprites {
    display: flex;
    justify-content: center;
}

.Sprites img {
    max-width: 40%;
    height: auto;
}

.Options button { /* Button Group for Options */
    margin: auto;
    width: 50%;
    border: 3px solid rgb(207, 170, 89);
    padding: 10px;
    display: block; 
    display: none;
}

.BottomBox {
    display: block;
    color:white;
}
