html {
    background-image: url(imgs/backgrounds/bedroom_morning_background\ fixed.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 50% ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    box-sizing: border-box;

    
}



body {
    position: relative;
    overflow: hidden;
}

.Sprites {
    display: flex;
    justify-content: center;

}

.Sprites img {
    max-width: 40vw;
    min-width: 50vh;
    height: auto;
    transition: 0.1s;
}

.Sprites #SpriteLeft {
    position: absolute;
    transform: scaleX(-1);
    bottom: -100vh;
    left: 2vw;
    display: none;

}

.Sprites #SpriteRight {
    bottom: -100vh;
    right: 2vw;
    position: absolute;
}

.OptionsWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 80%;
    min-width: 80%;
    transform: translate(-50%, -50%);

}

.OptionsWrapper #Options button { /* Button Group for Options */
    margin: auto;
    margin-bottom: 2vh;
    min-width: 33vw;
    height: auto;
    border: 3px solid rgb(97, 89, 126);
    background-color: rgb(204, 196, 233);
    
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: block; 
    opacity: 60%;
    transition: 0.5s;
    display: none;
}

.OptionsWrapper #Options button:hover {
    background-color: rgb(151, 138, 190);
    transition: 0.5s;
}

.OptionsWrapper #Options button:active {
    background-color: rgb(97, 82, 151);
    transition: 0s;
}

.BottomBox {
    bottom: 0;
    left: 0; 
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    text-align: center;

    overflow-wrap: break-word;
    hyphens: auto;
    
}

.BottomBox button {
    background-image: url(imgs/assets/text\ box\ texture.png);
    background-position: center 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);

    border-width: 1em;
    border-color: rgb(97, 89, 126);

    margin: 1em;
    padding-right: 0;
    

    opacity: 90%;
    width: 95%;
    height: 30vh;
}

.BottomBox .Overlay{
    position: absolute;
    top: 45px; 
    left: 30vw; 
    width: 40%;
    min-width: 40%;
    max-width: 100%;
    height: auto;
    font-size: calc((.4em + 0.5vmin) + (.4em + 0.2vmax));
    text-align: left;
}

.BottomBox .Overlay #nameHeader {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    line-height: 0vh;
}

.BottomBox .Overlay p {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}


